<!DOCTYPE html>
<html>
<head>
  <title>Go Back Button</title>
  <style>
    .container {
      text-align: center;
      margin-top: 10px;
    }

    .goback-btn {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      float: left;
    }

    .goback-btn:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
    <h3> Your form has been submitted </h3>
  <div class="container">
    <a href="/" class="goback-btn">Go Back</a>
  </div>
</body>
</html>