<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsdetail</title>
    <style>
        .data{
           text-align: center;
        }
        .desc{
            text-align: left;
        }
        .hey{
            justify-content: center;
            height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
    </style>
</head>
<body>
    <div class="pic">
        <img class="hey"src="/media/{{newsdetails.news_image}}">
    </div>
   
    <div class="data">
    <h1> {{ newsdetails.news_title }} </h1>
   <br>
   
   <br>
    </div>

    <div class="desc">
  <p> {{ newsdetails.news_desc|safe }} </p>
   </div>
</body>
</html>